* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

main {
  display: flex; /* Inclusão 5ºR: transformando em flex-container. */
}


#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px; /* Inclusão 5ºR:largura igual a 675px; */
}

#trybewarts-forms-logo {
  height: 500px;
  float: right; /* Inclusão 7ºR: Logo à direita. */
}


form {
  display: flex;
}

#position-name { /* Inclusão 10ºR: sobrenome à direita. */
  display: flex;
}
