* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: rgb(50, 167, 145);
}


#evaluation-form {
  display: flex;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

form {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}